.loginBoxTopMargin {
	margin-top: 30px;
}
/*md-divider {
  margin-top: 10px;
  margin-bottom: 10px; }*/

td [data-title='created'] {
	min-width: 60px;
}
.category-post-select{
	padding: 12px;
}
.buttons-post-group {
	padding-top: 16px;
}
.primary-ind-post {
	margin-top: 1px;
}

/*md-input-container.md-default-theme .md-input {
  color: white;
  border-color: white;
  margin-top: 24px;
}*/