<div ng-controller="DashboardCtrl">

	<div layout="row">

		<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
	      	<md-toolbar class="md-theme-light">
	        	<h1 class="md-toolbar-tools">Dashboard</h1>
	      	</md-toolbar>

	      	<div layout="column" ng-controller="DashboardMenuCtrl">
	      		
	      		<div flex ng-repeat="element in menuList">

	      			<md-button layout-fill class="md-button md-primary md-default-theme" ui-sref="{{ element.label }}">
		      			<div layout="row">
		      				<span flex="10"></span>
		      				<h1 class="md-toolbar-tools">{{ element.name }}</h1>
		      				<span flex></span>
		      			</div>
		      		</md-button>
		      		
		      		<md-divider></md-divider>

	      		</div>	      		
	      		
			</div>
	    </md-sidenav>

	    <div layout="column" layout-fill>

	    	<md-toolbar layout="row" >
		    	<div class="md-toolbar-tools">
		      		<span>List of Posts</span>
		      		<!-- fill up the space between left and right area -->
		      		<span flex></span>
		      		<div layout-align="space-around center">
		      			<md-button class="md-raised md-primary" ng-click="toggleRight()">Search</md-button>
		      			<md-button class="md-raised">View</md-button>
			      		<md-button class="md-raised">Login</md-button>
		      		</div>
		    	</div>
		  	</md-toolbar>

		  	<md-content flex layout-padding>
	      		<div layout="column" layout-fill layout-align="top center">
	        		<div ui-view="content"></div>
	      		</div>
	      		<div flex></div>
	    	</md-content>

	    </div>

	    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">

      		<md-toolbar class="md-theme-light">
        		<h1 class="md-toolbar-tools">Search</h1>
      		</md-toolbar>

      		<md-content ng-controller="RightSidebarCtrl" layout="column" layout-padding>
        		<form>
          			<md-input-container>
            			<label for="testInput">Test input</label>
            			<input type="text" id="testInput" ng-model="data" md-sidenav-focus>
          			</md-input-container>
        		</form>
		        <md-button ng-click="close()" class="md-primary">Close</md-button>
      		</md-content>

    	</md-sidenav>

	</div>
	
</div>

<div class="tabsdemoDynamicTabs">
<div ng-controller="AppCtrl" class="sample" layout="column">
  <md-content class="md-padding">
    <md-tabs md-selected="selectedIndex" md-border-bottom>
      <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.title}}">
        <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
          <div ng-bind="tab.content"></div>
          <br/>
          <md-button class="md-primary md-raised" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">Remove Tab</md-button>
        </div>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
</div>

