<div ng-controller="LoginCtrl" layout="column">

  	<md-content class="loginBoxTopMargin">

  		<div layout="row" layout-sm="column" layout-align="center center">
		  		
	    	<md-content layout-padding class="login-form">
		    	<md-whiteframe class="md-whiteframe-z1" layout="column">
				    <form name="userForm" novalidate>
				      	<md-content layout-padding>
				      	<div layout="column" layout-sm="column">

					      	<md-content>
					      		<h1 class="md-display-2">Sign In</h1>
					      	</md-content>

				        	<md-input-container>
				          		<label>Email</label>
				          		<input ng-model="user.email" type="email" required>
				        	</md-input-container>

	        				<md-input-container>
				          		<label>Password</label>
				          		<input ng-model="user.password" type="password" required>
				        	</md-input-container>

				        	<md-content layout-padding>
				        		<div layout="row" layout-align="space-between center">
			      					<md-button class="md-raised">Register</md-button>
			      					<md-button class="md-raised md-primary">Log In</md-button>
						      	</div>
					      	</md-content>

				      	</div>
				      	</md-content>
				      
				    </form>
			   	</md-whiteframe>
		  	</md-content>

		</div>

  	</md-content>

</div>