<div id="main-post-form">
	
	<div layout="row" layout-sm="column" layout-padding layout="space-between center">

		<div flex layout="row" layout-sm="column" layout-align="start center">
			<div layout-margin ><h1>Title post</h1></div>
			<div layout-margin ><span>Create Post in </span></div>
			<div flex layout-margin>
				<md-select placeholder="Category" ng-model="filters.category" class="create-post-select">
			    	<md-option ng-repeat="cat in categories" value="{{ cat.id }}">{{ cat.name }}</md-option>
			  	</md-select>
			</div>
		</div>

		<div flex layout="row" layout-align="end center">
			<div layout-margin ><md-button class="md-raised">Save</md-button></div>
	      	<div layout-margin ><md-button class="md-raised md-primary">Save & Publish</md-button></div>
	      	<div layout-margin ><md-button class="md-raised md-warn">Back To List</md-button></div>
		</div>
		
	</div>

	<div layout="row" layout-sm="column">
		<md-content layout-padding layout-fill>
			<form name="postForm">

				<div layout layout-sm="column" layout-align="center center">
					<md-input-container flex>
						<label>Post Title</label>
						<input ng-model="post.title">
					</md-input-container>	
				</div>

				<md-input-container flex>
					<label>Header</label>
					<textarea ng-model="post.header" columns="1" md-maxlength="300"></textarea>
				</md-input-container>

				<md-input-container flex>
					<label>Content</label>
					<textarea ng-model="post.content" columns="1"></textarea>
				</md-input-container>
			</form>
		</md-content>
	</div>

</div>

<!-- one selected TRUE set as header image , rest of all will e disabled -->
<div id="gallery" ng-controller="CreatePostGalleryCtrl"> 

	<div layout="row" layout-sm="column" layout-padding layout-align="space-between center">
		<div layout="row" layout-align="start center" layout-margin>
			<div layout-padding><h1>Gallery</h1></div>
			<div layout-padding><span>Selected head image: Yes</span></div>
		</div>
		
		<div layout-margin ><md-button class="md-raised">Save Changes</md-button></div>
	</div>

	

	<md-content layout="row" layout-sm="column" layout-wrap>

		<div layout-margin>
			
			<div layout="column" layout-padding>
				<h4>Image title</h4>
				<div><img ng-src="path/to/file"></div><!-- header should be 3:1 -->
				<div><p>Content</p></div>
			</div>
			
			<div layout="row" layout-align="center center">
				<div layout-margin ><md-button class="md-raised">Upload</md-button></div>
		      	<div layout-margin><md-switch ng-disabled="true" aria-label="Disabled switch" ng-model="disabledModel"></md-switch></div>
		      	<div layout-margin ><md-button class="md-raised md-warn">Remove</md-button></div>
			</div>

		</div>

		<div layout-margin>
			
			<div layout="column" layout-padding>
				<h4>Image title</h4>
				<div><img ng-src="path/to/file"></div><!-- header should be 3:1 -->
				<div><p>Content</p></div>
			</div>
			
			<div layout="row" layout-align="center center">
				<div layout-margin ><md-button class="md-raised">Upload</md-button></div>
		      	<div layout-margin><md-switch ng-disabled="true" aria-label="Disabled switch" ng-model="disabledModel"></md-switch></div>
		      	<div layout-margin ><md-button class="md-raised md-warn">Remove</md-button></div>
			</div>

		</div>

		<div layout-margin>
			
			<div layout="column" layout-padding>
				<h4>Image title</h4>
				<div><img ng-src="path/to/file"></div><!-- header should be 3:1 -->
				<div><p>Content</p></div>
			</div>
			
			<div layout="row" layout-align="center center">
				<div layout-margin ><md-button class="md-raised">Upload</md-button></div>
		      	<div layout-margin ><md-switch ng-model="data.cb1" aria-label="Switch 1"></md-switch></div>
		      	<div layout-margin ><md-button class="md-raised md-warn">Remove</md-button></div>
			</div>

		</div>

		<div layout-margin>
			
			<div layout="column" layout-padding>
				<h4>Image title</h4>
				<div><img ng-src="path/to/file"></div><!-- header should be 3:1 -->
				<div><p>Content</p></div>
			</div>
			
			<div layout="row" layout-align="center center">
				<div layout-margin ><md-button class="md-raised">Upload</md-button></div>
		      	<div layout-margin><md-switch ng-disabled="true" aria-label="Disabled switch" ng-model="disabledModel"></md-switch></div>
		      	<div layout-margin ><md-button class="md-raised md-warn">Remove</md-button></div>
			</div>

		</div>


		<div layout-margin>
			
			<div layout="column" layout-padding>
				<h4>Image title</h4>
				<div><img ng-src="path/to/file"></div><!-- header should be 3:1 -->
				<div><p>Content</p></div>
			</div>
			
			<div layout="row" layout-align="center center">
				<div layout-margin ><md-button class="md-raised">Upload</md-button></div>
		      	<div layout-margin><md-switch ng-disabled="true" aria-label="Disabled switch" ng-model="disabledModel"></md-switch></div>
		      	<div layout-margin ><md-button class="md-raised md-warn">Remove</md-button></div>
			</div>

		</div>

	</md-content>
</div>

<div id="gallery" ng-controller="CreatePostGalleryCtrl"> 

	<div layout="row" layout-padding layout-align="space-between center">
		<div layout-margin layout-padding><h1>Comments</h1></div>
	</div>

	<md-content layout="row" layout-sm="column" layout-wrap>
	</md-content>

</div>