<div id="main-post-form">
	
	<div layout="row" layout-sm="column" layout-padding layout="space-between center">

		<div flex layout="row" layout-sm="column" layout-align="start center">
			<div layout-margin ><h1>Title post</h1></div>
			<div layout-margin ><span>Create Post in </span></div>
			<div flex layout-margin>
				<md-select placeholder="Category" ng-model="filters.category" class="create-post-select">
			    	<md-option ng-repeat="cat in categories" value="{{ cat.id }}">{{ cat.name }}</md-option>
			  	</md-select>
			</div>
		</div>

		<div flex layout="row" layout-align="end center">
			<div layout-margin ><md-button class="md-raised">Save</md-button></div>
	      	<div layout-margin ><md-button class="md-raised md-primary">Save & Publish</md-button></div>
	      	<div layout-margin ><md-button class="md-raised md-warn" ui-sref="auth.dashboard.post.list">Back To List</md-button></div>
		</div>
		
	</div>

	<div layout="row" layout-sm="column">
		<md-content layout-padding layout-fill>
			<form name="postForm">

				<div layout layout-sm="column" layout-align="center center">
					<md-input-container flex>
						<label>Post Title</label>
						<input ng-model="post.title">
					</md-input-container>	
				</div>

				<md-input-container flex>
					<label>Header</label>
					<textarea ng-model="post.header" columns="1" md-maxlength="300"></textarea>
				</md-input-container>

				<md-input-container flex>
					<label>Content</label>
					<textarea ng-model="post.content" columns="1"></textarea>
				</md-input-container>
			</form>
		</md-content>
	</div>

</div>

<!-- one selected TRUE set as header image , rest of all will e disabled -->
<div id="gallery" ng-controller="GalleryCtrl"> 

	<div layout="row" layout-sm="column" layout-padding layout-align="space-between center">
		<div layout="row" layout-align="start center" layout-margin>
			<div layout-padding><h1>Gallery</h1></div>
			<div layout-padding><span>Selected head image: Yes</span></div>
		</div>
		
		<div layout-margin ><md-button class="md-raised">Save Changes</md-button></div>
	</div>

	

	<md-content layout="row" layout-sm="column" layout-wrap>

		<div layout-margin>
			<md-whiteframe class="md-whiteframe-z1" layout="column" layout-padding layout-align="center center">
                <div layout="column" layout-padding>
                    <h4>Image title</h4>
                    <div style="height: 200px; width: 600px"><img ng-src="path/to/file"></div><!-- header should be 3:1 -->
                    <div><p>Content</p></div>
                </div>

                <div layout="row" layout-align="center center">
                    <div layout-margin ><md-button class="md-raised">Upload</md-button></div>
                    <div layout-margin><md-switch ng-disabled="true" aria-label="Disabled switch" ng-model="disabledModel"></md-switch></div>
                    <div layout-margin ><md-button class="md-raised md-warn">Remove</md-button></div>
                </div>
            </md-whiteframe>
		</div>

		<div layout-margin>
			<md-whiteframe class="md-whiteframe-z1" layout="column" layout-padding layout-align="center center">
                <div layout="column" layout-padding>
                    <h4>Image title</h4>
                    <div style="height: 200px; width: 200px"><img ng-src="path/to/file"></div><!-- header should be 3:1 -->
                    <div><p>Content</p></div>
                </div>

                <div layout="row" layout-align="center center">
                    <div layout-margin ><md-button class="md-raised">Upload</md-button></div>
                    <div layout-margin><md-switch ng-disabled="true" aria-label="Disabled switch" ng-model="disabledModel"></md-switch></div>
                    <div layout-margin ><md-button class="md-raised md-warn">Remove</md-button></div>
                </div>
            </md-whiteframe>
		</div>

		<div layout-margin>
			<md-whiteframe class="md-whiteframe-z1" layout="column" layout-padding layout-align="center center">
                <div layout="column" layout-padding>
                    <h4>Image title</h4>
                    <div style="height: 250px; width: 200px"><img ng-src="path/to/file"></div><!-- header should be 3:1 -->
                    <div><p>Content</p></div>
                </div>

                <div layout="row" layout-align="center center">
                    <div layout-margin ><md-button class="md-raised">Upload</md-button></div>
                    <div layout-margin ><md-switch ng-model="data.cb1" aria-label="Switch 1"></md-switch></div>
                    <div layout-margin ><md-button class="md-raised md-warn">Remove</md-button></div>
                </div>
            </md-whiteframe>
		</div>

		<div layout-margin>
			<md-whiteframe class="md-whiteframe-z1" layout="column" layout-padding layout-align="center center">
                <div layout="column" layout-padding>
                    <h4>Image title</h4>
                    <div style="height: 300px; width: 400px"><img ng-src="path/to/file"></div><!-- header should be 3:1 -->
                    <div><p>Content</p></div>
                </div>

                <div layout="row" layout-align="center center">
                    <div layout-margin ><md-button class="md-raised">Upload</md-button></div>
                    <div layout-margin><md-switch ng-disabled="true" aria-label="Disabled switch" ng-model="disabledModel"></md-switch></div>
                    <div layout-margin ><md-button class="md-raised md-warn">Remove</md-button></div>
                </div>
            </md-whiteframe>
		</div>


		<div layout-margin>
			<md-whiteframe class="md-whiteframe-z1" layout="column" layout-padding layout-align="center center">
                <div layout="column" layout-padding>
                    <h4>Image title</h4>
                    <div style="height: 200px; width: 200px"><img ng-src="path/to/file"></div><!-- header should be 3:1 -->
                    <div><p>Content</p></div>
                </div>

                <div layout="row" layout-align="center center">
                    <div layout-margin ><md-button class="md-raised">Upload</md-button></div>
                    <div layout-margin><md-switch ng-disabled="true" aria-label="Disabled switch" ng-model="disabledModel"></md-switch></div>
                    <div layout-margin ><md-button class="md-raised md-warn">Remove</md-button></div>
                </div>
            </md-whiteframe>
		</div>

	</md-content>
</div>

<div id="gallery" ng-controller="CommentCtrl"> 

	<div layout="row" layout-padding layout-align="space-between center">
		<div layout-margin layout-padding><h1>Comments</h1></div>
	</div>

	<md-content>
		<md-list>
			<md-list-item class="md-3-line" ng-repeat="item in todos">
                
                <div layout="row" layout-sm="column" layout-margin layout-padding>
                    <div flex="10" layout="row" layout-align="center center">
                        <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
                    </div>
                    <div flex="20" layout="column" layout-align="" class="comments-border">
                        <h3 class="comments-owner-name">{{ item.who }}</h3>
                        <span>email: {{ item.what }}</span>
                    </div>
                    <div flex layout layout-align="start start" class="comments-border">
                        <p>{{ item.notes }}</p>
                    </div>
                    <div flex layout layout-align="center center">
                        <md-button class="md-raised md-warn">remove</md-button>
                    </div>
                </div>
				
                <md-list-item class="md-3-line" ng-repeat="ans in item.answers">
                    
                    <div layout="row" layout-sm="column" layout-margin layout-padding class="comment-answer-blocks">
                        <div flex="10"></div>
                        <div flex="10" layout="row" layout-align="center center">
                            <img ng-src="{{ans.face}}?{{$index}}" class="md-avatar" alt="{{ans.who}}" />
                        </div>
                        <div flex="20" layout="column" layout-align="" class="comments-border">
                            <h3 class="comments-owner-name">{{ ans.who }}</h3>
                            <span>email: {{ ans.what }}</span>
                        </div>
                        <div flex layout layout-align="start start" class="comments-border">
                            <p>{{ ans.notes }}</p>
                        </div>
                        <div flex layout layout-align="center center">
                            <md-button class="md-raised md-warn">remove</md-button>
                        </div>
                        
                    </div>
                    
                </md-list-item>
                
                <md-divider ng-if="!$last"></md-divider>
                
			</md-list-item>

			<md-divider ></md-divider>
            
		</md-list>
  </md-content>

</div>