<div layout="row" layout-sm="column">

	<form layout-fill>

		<div layout="row" layout-sm="column" layout-align="space-between center" layout-fill>

		  	<md-container flex></md-container>

		  	<md-container layout="row" layout-sm="column" class="buttons-post-group">
			  	<md-container layout-padding layout-margin>
				  	<md-input-container layout-align="center end">
					  	<md-button class="md-raised" ui-sref="auth.dashboard.post.category" >New Category</md-button>
					</md-input-container>
				</md-container>	

				<md-container layout-padding layout-margin>
					<md-input-container layout-align="center end">
				  		<md-button class="md-raised md-primary primary-ind-post" ui-sref="auth.dashboard.post.create">Create Post</md-button>
				  	</md-input-container>
			  	</md-container>
			</md-container>

		</div>

		<md-container layout="row">

			<md-input-container flex>
				<label>Post Title</label>
				<input ng-model="filters.postTitle">
			</md-input-container>

			<md-input-container flex>
          		<label>Date From</label>
          		<input type="date" ng-model="filters.dateFrom">
	        </md-input-container>

			<md-input-container flex>
				<label>Date To</label>
				<input type="date" ng-model="filters.dateTo">
			</md-input-container>

			<md-container flex layout-fill class="category-post-select">
				<md-select placeholder="Category" ng-model="filters.category">
			    	<md-option ng-repeat="cat in categories" value="{{ cat.id }}">{{ cat.name }}</md-option>
			  	</md-select>
			</md-container>

		</md-container>

  	</form>

</div>

<div class="table-container">

  	<div class="table-responsive-vertical shadow-z-1">
  		<!-- Table starts here -->
  		<table id="table" class="table table-hover table-mc-light-blue table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Category</th>
					<th>Content</th>
					<th>Author</th>
					<th>Created</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>

				<tr ng-repeat="post in posts">
					<td felx data-title="ID">{{ post.id }}</td>
					<td flex data-title="Title">{{ post.title }}</td>
					<td flex data-title="Category">{{ post.category }}</td>
					<td flex data-title="Content">{{ post.content }}</td>
					<td flex data-title="Author">{{ post.author }}</td>
					<td flex data-title="Created">{{ post.created }}</td>
					<td flex data-title="Actions">
						<div layout="row" layout-align="space-around center">
							<md-button class="md-raised md-default-theme" ui-sref="auth.dashboard.post.edit" >Edit</md-button>
							<div flex="5"></div>
							<md-button class="md-raised md-warn md-default-theme" ng-click="showConfirm($event)">Delete</md-button>
						</div>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
  
</div>

<div class="sample" layout="column">
	<md-content class="md-padding">
		<md-tabs md-selected="selectedPageIndex" md-border-bottom>
  			<md-tab ng-repeat="tab in tabs" label="{{$index+1}}"></md-tab>
		</md-tabs>
	</md-content>
</div>

<div ui-view="test"></div>
